@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html, body, #root {
    height: 100%;
  }
  main {
    flex: 1 0 auto;
  }
  html {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
  }

  h4 {
    font-weight: 500;
    font-size: 22px;
  }

  button {
    color: white;
    font-weight: 500;
  }

  main {
    margin-top: 1rem;
  }

  .flexCol {
    display: flex;
    flex-direction: column;
  }

  .title {
    font-weight: 600;
    font-size: 18px;
  }

  .title2 {
    font-weight: 500;
    font-size: 16px;
  }

  .text1 {
    font-size: 18px;
    line-height: 150%;
    @media (min-width: 1024px) {
      font-size: 20px;
    }
  }
}

@layer components {
  h1 {
    @apply text-5xl font-bold text-darkBlue sm:text-6xl lg:text-7xl;
  }
  h5 {
    @apply text-4xl text-orange font-semibold sm:text-3xl md:text-4xl;
  }
  h6 {
    @apply font-bold text-2xl lg:text-4xl;
  }
  h3 {
    @apply text-2xl;
  }
  h2 {
    @apply leading-tight font-bold text-[28px] sm:text-3xl md:text-4xl lg:text-[40px];
  }
  .componentsMargin {
    @apply mt-12 sm:mt-16 md:mt-20 lg:mt-24 xl:mt-28;
  }
  .textJustify {
    @apply text-justify sm:text-center;
  }
  .mainPageGridContainer {
    @apply grid grid-cols-1 gap-7 mt-9 sm:mt-14 sm:grid-cols-2 md:mt-16 lg:gap-11 xl:grid-cols-3;
  }
  .bigText {
    @apply font-bold text-[2.7rem] text-darkBlue leading-tight sm:leading-tight sm:text-5xl lg:text-6xl lg:leading-tight xl:text-7xl xl:leading-tight
  }
}